@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

:root {
  --primary: #183d5d;
  --primary-variant: #072540;
  --accent: #ff8ae2;

  --text: #fff;
}

* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
  color: var(--text);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  background-color: black;
}