@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

:root {
  --primary: #183d5d;
  --primary-variant: #072540;
  --accent: #ff8ae2;

  --text: #fff;
}

* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
  color: var(--text);
}
#navbar{
  display: flex;
  align-items: center;
}

#logo{  
  max-width: 109px;
}
#line{
  border-bottom-width: 1px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  text-transform: uppercase;
  color: #93c2db;
}

li a {
  display: block;
  padding: 8px;
  background-color: transparent;
  text-decoration: none;
  color: #93c2db;
  font-family: "Inter Black", "Helvetica", "Arial", san-serif;
  font-weight: bold;
  font-size: 14px;
}